*{margin: 0; padding: 0;}
body{width: 100%;}
header.main-header{width: 100%; background-color: aliceblue; color: black; display: flex; justify-content: space-between; height: 100px;}
header h1.header-logotittle{margin-left: 25px; margin-top: 30px;}
h1 span.title-color{color: red;}
h1 span.title-color:hover{color: rgb(246, 5, 178);}
nav.header-nav{margin-right: 50px; display: flex; margin-top: 40px;}
nav.header-nav li{margin-right: 35px; list-style: none;}
nav.header-nav li a{text-decoration: none;}
nav.header-nav li a:hover{color: gray; transition:ease-out;}
div.slider_image{background-image: url(images/slider\ image\ first.png); width: 800px; height: 400px; margin: 0 auto; overflow: hidden; border-radius: 5px;}
h1.slider-tittle{text-align: center; margin-top: 100px; color: rgb(255, 255, 255);}
p.slider_paragraph{margin-top: 10px; margin-left: 100px; margin-right: 100px; text-align: center; overflow: hidden;}
input.input_search{width: 80px; border-radius: 5px; border-right: 0px; font-size: 10px; height: 25px; border: none; margin-right: 20px;}
input.input_search#place{padding: 5px;}
select.select_search{height: 25px; border-radius: 5px; font-size: 10px; margin-right: 20px;}
button.search_btn{background-color: orange; color: azure; border-radius: 5px; border: none; height: 25px; font-size: 10px; width: 70px;}
button.search_btn:hover{color: chocolate;}
section.sectionfor_content{display: flex; gap: 20px; padding: 20px; font-size: 14px; overflow: hidden;}
div.search_divopacity{background-color: rgb(252, 250, 248); opacity: calc(30%); width: 280px; margin: 0 auto; margin-top: 15px; padding: 10px; border-radius: 5px;}
div.content{background-color:azure; padding: 10px; border-radius: 5px;}
h2.header_contenttittle{background-color: antiquewhite; padding: 5px; border-radius: 5px; margin-bottom: 20px;}
span.title_populr{color: red;}
p.content_paragraph{padding: 5px; text-align: justify;}
li.content_li{padding: 5px; text-align: justify; margin-left: 25px;}
blockquote p.seconcontent_paragraph{padding: 5px; text-align: justify; margin-bottom: 15px;}
button.content_bottombtn{background-color: orange; color: white; font-size: 10px; border: none; border-radius: 5px; padding:  8px 20px 8px 20px;}
div.content_img img{height: 360px;}
section.section_gellary{width: 520px; margin: 0 auto; margin-top: 20px;}
div.divtitle_paragraph{text-align: center; margin-bottom: 20px;}
h2.gellary_title{margin-bottom: 10px;}
p.gallary_paragraph{}